<ion-header [translucent]="true">
  <ion-toolbar color=primary>
    <ion-title>
      Bluetooth
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon name="bluetooth" class="icon-header"></ion-icon>
      <ion-toggle color="success" [(ngModel)]="activated" disabled></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion-padding' color=secondary>
  <!-- <h1 class="animate__animated animate__bounce animate__flipInX">An animated element</h1> -->
  <!-- NO ACTIVADO -->
  <div *ngIf="!activated">
    <ion-button (click)="onActivateBluetooth()" class="button-center">
      Activar Bluetooth
    </ion-button>
    <div class="ion-text-center">
      <h3>Por favor active bluetooth de su equipo</h3>
    </div>
  </div>

  <!-- ACTIVADO -->
  <div *ngIf="activated">
    <!-- NO CONECTADO -->
    <div class="ion-text-center super-title desconectado" *ngIf="!connected">
      <ion-row>
        <ion-col>
          <h1 class="ion-no-margin">DARD desconectado</h1>
        </ion-col>
        <ion-col size=2 class="ion-text-end">
          <ion-icon name="logo-capacitor" class="icon-fab" (click)="onConnectToDevice()"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    
    <!-- CONECTADO -->
    <div class="ion-text-center" *ngIf="connected">
      <div class="super-title">
        <ion-row>
          <ion-col>
            <h1 class="ion-no-margin">DARD conectado</h1>
          </ion-col>
          <ion-col size=2 class="ion-text-end">
            <ion-icon name="cut-outline" class="icon-fab" (click)="onDisconnectToDevice()"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="ion-text-center" *ngIf="!listDevice">
        <h3>Escanee en busca de dispositivos</h3>
      </div>
    </div>
  
    <ion-grid *ngIf="listDevice" #listDeviceAnimation>
      <br>
      <ion-row class="ion-justify-content-between class-device">
        <ion-title class='ion-no-padding'>Dispositivos </ion-title>
        <ion-icon name='caret-down' *ngIf='!showDevices' (click)='onClickChangeShowDevices()'></ion-icon>
        <ion-icon name='caret-up' *ngIf='showDevices' (click)='onClickChangeShowDevices()'></ion-icon>
      </ion-row>
      <br>
      <ion-list class="list list-devices" *ngIf="showDevices && listDevice.length > 0">
        <ion-row>
          <ion-col>
            <ion-label>
              Nombre
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              IP
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let device of listDevice" (click)="onConnectToDevice(device)">
          <ion-col>
            <ion-label>
              {{device.name}}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              {{device.address}}
            </ion-label>
          </ion-col>
        </ion-row>
        <div class="ion-text-center">
          <h4>Seleccione algun dispositivo</h4>
        </div>
      </ion-list>
    </ion-grid>
  </div>

<ion-footer>
  <ion-button expand="block" (click)="onScanBluetooth()" *ngIf="activated && !connected">
    Escanear con bluetooth
  </ion-button>
</ion-footer>