<ion-header [translucent]="true">
  <ion-toolbar color=primary>
    <ion-title>
      Resultados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion-padding' color=secondary>

  <div *ngIf="!connected || !activated" class="ion-text-center">
    <h3>Vuelve a Bluetooth y verifica conexion</h3>
  </div>

  <div *ngIf="connected && activated && (!data || data.length == 0 )" class="ion-text-center">
    <h3>Ningun dato todavia</h3>
  </div>

  <div *ngIf="connected && activated && myForm">
    <form [formGroup]="myForm">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label position="stacked">Repeticiones</ion-label>
        <ion-input formControlName="repeticion" type="text" placeholder="Indique repeticiones"></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label position="stacked">Distancia</ion-label>
        <ion-input formControlName="distancia" type="text" placeholder="Indique distancia"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand=full fill=solid size=large (click)="onClickStart()" [disabled]="!connected || !subscribed || (myForm && myForm.invalid)"> Comenzar </ion-button>
  <ion-button expand=full fill=solid size=large (click)="otro()" > OTRO </ion-button>
  <ion-button expand=full fill=solid size=large (click)="form()" > form </ion-button>
</ion-footer>
